body {
    background-image: url(./images/clock2.jpg);
    background-size: cover;
}

.header {
    font-family: gruppo;
   text-align: center;
    text-decoration: aquamarine;
    padding-top: 400px;
    padding-left:250px;
}

.header h2 {
    text-align: center;
}
