
:root {
  --darkgrey: #2F4454;
  --darkgreen: #1C3334;
  --darkmaroon: #2E151B;
  --poppink: #DA7B93;
  --lightgreen: #376E6F;
  --white: #ffff;
  --mustard: rgb(241, 180, 13);
  --black: black; 
  --gruppo: 'gruppo';
  --licorice: 'licorice';
  --montserrat: 'montserrat';
  --mont-alts: 'montserrat alternates';
}

body {
  background-color: var(--white); 
  margin: 0;
}


/*HEADER*/

.header {
  width: auto;
  display: block;
  text-align: center;
  justify-content: space-between;
  padding-top: 20px;
  clear: both;
  font-family: var(--mont-alts);
  font-weight: 100;
  background-color: var(--lightgreen);
  color: var(--white);
}

.header h1 {
  font-size: 40px;
  font-weight: 100;
  color: var(--white);
  /*text-shadow: 2px 2px 10px var(--darkmaroon);*/
}

.header nav {
  text-align: center;
  font-size: 20px;
}

.header nav ul li {
  display: inline-block;
  margin: 16px;
  font-weight: 300;
}

/*ABOUT ME*/

.about-me {
  width: 100%;
  display: block;
  text-align: left;
  font-family: var(--montserrat);
  font-weight: 100;
  background-color: var(--lightgreen);
  color: var(--white);
}

h2 {
  padding-top: 6%;
  text-align: center;
  font-size: 40px;
  font-family: var(--mont-alts);
  font-weight: 100;
}

p {
  font-size: 16px;
  font-family: var(--montserrat);
  font-weight: 300;
  line-height: 120%;
  padding: 0 100px 0 100px;
}


/*ALL LINKS*/
/* this controls the links at the top of the page */
a {
  color: var(--mustard);
  text-decoration: none;
}


/* .main-photo {
  height: 500px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/IMG_6706.jpeg");
  background-size: cover;
  background-position: center;
  opacity: 1.0;
} */




.back-to-top {
  padding: 10px;
  text-align:center;
  font-family: 'gruppo';
  font-size: 16px;
}



/* 
.images >img {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.images-container{
  width: 300px;
  height:370px;
}
*/
.images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

.images-container img {  
  margin: 15px;
  width: 200px;
  height: 270px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 10px black;
}

img:hover {
  opacity: 0.5;
}

.contact-me {
  text-align: absolute;
  list-style-position: inside;
  font-size: 20px;
  line-height: 120%;
  width: auto;
  font-family: var(--gruppo);
  background-color: var(--header);
}

.contact {
  font-size: 40px;
  color: #ffffff;
  padding-top: 10px;
}


footer {
  font-family: 'gruppo';
  text-align: center;
}


/*
:root {
    --brown: #a88f82;
    --tan: #f5e1d5;
    --teal: #71a8a7;
    --lightteal: #d5f5f5;
    --light: #fffaf7;
  }
  
  ::selection {
    color: var(--brown);
    background-color: var(--light);
  }
  
  body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
  }
  
  .custom-navbar {
    background-color: var(--teal);
  }
  
  .custom-navbar a {
    font-size: 1.5rem;
    color: var(--lightteal);
  }
  
  .custom-navbar a:hover {
    color: var(--light);
  }
  
  .custom-jumbotron {
    background-color: var(--lightteal);
    color: var(--teal);
  }
  
  .custom-btn {
    background-color: var(--brown);
    color: var(--light);
  }
  
  .custom-btn:hover {
    background-color: var(--tan);
    color: var(--brown);
  }
  
  .custom-card {
    border-color: var(--teal);
    color: var(--brown);
  }
  
  .custom-card-header {
    background-color: var(--teal);
    color: var(--lightteal);
  }
*/  